* {
  text-decoration: none;
  font-family: "poppins light", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: justify;
  list-style: none;
}

:root {

  /* cores de fundo */
  --bg: linear-gradient(120deg, lightblue, pink);
  /* cores primárias */
  --clr-primary: #4523e0;
  --clr-primary-hover: #250a9e;
  /* cores secundárias */
  --clr-secondary: #050379;
  --clr-secondary-back: #01011b;
  /* tamanho do espaço */
  --max-height-section: 700px;
  /* formatação de texto */
  --h1-second: 20pt;
  /* cor do texto */
  --text-dark: black;
}

html {
  scroll-behavior: smooth;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5em;
  background-color: var(--clr-secondary);
  border-bottom: solid 2px #fff;
}

h1 {
  color: white;
}

header #burguer {
  display: none;
}

#burguer button {
  background-color: transparent;
  border: none;
}

#burguer #boto img {
  height: 50px;
  color: white;
}


header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 80%;
  max-width: 1366px;
}

header nav a {
  color: #fff;
  font-weight: 200;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: whitesmoke;
    background: black;
  }
}



